In [112]:
from time import time
import pandas as pd 
import pyarrow.parquet as pq
from sqlalchemy import create_engine

In [113]:
df = pd.read_csv('green_tripdata_2019-10.csv',nrows=50000)
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1,2019-10-04 18:14:57,2019-10-04 18:44:45,N,1,260,102,1,4.60,20.5,1.00,0.5,0.00,0.0,NaN,0.3,22.30,2,1,0.0
49996,2,2019-10-04 18:45:39,2019-10-04 18:55:24,N,1,82,260,1,1.14,7.5,1.00,0.5,0.00,0.0,NaN,0.3,9.30,2,1,0.0
49997,2,2019-10-04 18:09:32,2019-10-04 18:39:51,N,1,83,83,1,3.51,18.5,1.00,0.5,0.00,0.0,NaN,0.3,20.30,2,1,0.0
49998,1,2019-10-04 18:06:01,2019-10-04 18:13:49,N,1,82,129,2,0.90,6.5,1.00,0.5,1.65,0.0,NaN,0.3,9.95,1,1,0.0
49999,1,2019-10-04 18:31:34,2019-10-04 18:42:44,N,1,82,138,2,3.20,11.5,1.00,0.5,0.00,0.0,NaN,0.3,13.30,1,1,0.0

In [114]:
pd.io.sql.get_schema(df,name = 'green_tripdata')

'CREATE TABLE "green_tripdata" (\n"VendorID" INTEGER,\n  "lpep_pickup_datetime" TEXT,\n  "lpep_dropoff_datetime" TEXT,\n  "store_and_fwd_flag" TEXT,\n  "RatecodeID" INTEGER,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "passenger_count" INTEGER,\n  "trip_distance" REAL,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "ehail_fee" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "payment_type" INTEGER,\n  "trip_type" INTEGER,\n  "congestion_surcharge" REAL\n)'

In [115]:
import sqlalchemy

In [116]:
from sqlalchemy import create_engine

engine= create_engine('postgresql://root:root@localhost:5432/ny_green_taxi')
engine.connect()

In [117]:
print(pd.io.sql.get_schema(df, name='green_tripdata', con=engine))

CREATE TABLE green_tripdata (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [118]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv',iterator=True, chunksize=50000)
df_iter

In [119]:
df=next(df_iter)
len(df)

50000

In [120]:
df.to_sql(name='green_tripdata', con=engine, if_exists='replace')

1000

In [121]:
while True: 
    t_start = time()

    df = next(df_iter)
    df.to_sql(name='green_tripdata', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 13.349 second
inserted another chunk, took 13.806 second
inserted another chunk, took 12.736 second
inserted another chunk, took 13.845 second
inserted another chunk, took 13.471 second
inserted another chunk, took 13.953 second
inserted another chunk, took 13.205 second
inserted another chunk, took 11.490 second
inserted another chunk, took 6.579 second

StopIteration: