In [1]:
from time import time
import pandas as pd 
import pyarrow.parquet as pq
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('taxi_zone_lookup.csv',nrows=265)
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                      NaN          NaN
264         265            NaN           Outside of NYC          NaN

[265 rows x 4 columns]

In [3]:
pd.io.sql.get_schema(df,name = 'taxi_zone_lookup')

'CREATE TABLE "taxi_zone_lookup" (\n"LocationID" INTEGER,\n  "Borough" TEXT,\n  "Zone" TEXT,\n  "service_zone" TEXT\n)'

In [4]:
import sqlalchemy

In [5]:
from sqlalchemy import create_engine

engine= create_engine('postgresql://root:root@localhost:5432/ny_green_taxi')
engine.connect()

In [6]:
print(pd.io.sql.get_schema(df, name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [7]:
df_iter = pd.read_csv('taxi_zone_lookup.csv',iterator=True, chunksize=265)
df_iter

In [8]:
df=next(df_iter)
len(df)

265

In [9]:
df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')

265

In [ ]:
while True: 
    t_start = time()

    df = next(df_iter)
    df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk, took %.3f second' % (t_end - t_start))