In [5]:
import pandas as pd 
import pyarrow.parquet as pq
from time import time

In [6]:
pq.read_metadata('green_tripdata_2019-10.parquet')

<pyarrow._parquet.FileMetaData object at 0x00000159290FCC20>
  created_by: parquet-cpp-arrow version 7.0.0
  num_columns: 20
  num_rows: 476386
  num_row_groups: 1
  format_version: 1.0
  serialized_size: 10761

In [7]:
#Read File
file= pq.ParquetFile('green_tripdata_2019-10.parquet')
table = file.read()
table.schema

VendorID: int64
lpep_pickup_datetime: timestamp[us]
lpep_dropoff_datetime: timestamp[us]
store_and_fwd_flag: string
RatecodeID: double
PULocationID: int64
DOLocationID: int64
passenger_count: double
trip_distance: double
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
ehail_fee: null
improvement_surcharge: double
total_amount: double
payment_type: double
trip_type: double
congestion_surcharge: double
-- schema metadata --
pandas: '{"index_columns": [], "column_indexes": [], "columns": [{"name":' + 2608

In [8]:
#Convert to pandas and check data
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476386 entries, 0 to 476385
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               476386 non-null  int64
 1   lpep_pickup_datetime   476386 non-null  datetime64[us]
 2   lpep_dropoff_datetime  476386 non-null  datetime64[us]
 3   store_and_fwd_flag     387007 non-null  object
 4   RatecodeID             387007 non-null  float64
 5   PULocationID           476386 non-null  int64
 6   DOLocationID           476386 non-null  int64
 7   passenger_count        387007 non-null  float64
 8   trip_distance          476386 non-null  float64
 9   fare_amount            476386 non-null  float64
 10  extra                  476386 non-null  float64
 11  mta_tax                476386 non-null  float64
 12  tip_amount             476386 non-null  float64
 13  tolls_amount           476386 non-null  float64
 14  ehail_fee              0 non-null       object
 15  improvement_surcharge  476386 non-null  float64
 16  total_amount           476386 non-null  float64
 17  payment_type           387007 non-null  float64
 18  trip_type              387005 non-null  float64
 19  congestion_surcharge   387007 non-null  float64
dtypes: datetime64[us](2), float64(13), int64(3), object(2)
memory usage: 72.7+ MB

In [20]:
import sqlalchemy

In [24]:
from sqlalchemy import create_engine

engine= create_engine('postgresql://root:root@localhost:5432/ny_green_taxi')
engine.connect()

In [26]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee TEXT,
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [28]:
#Creating batches of 1 lakh rows of parquet file
batches_iter= file.iter_batches(batch_size=100000)
batches_iter

df = next(batches_iter).to_pandas()
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,None,0.3,19.30,2.0,1.0,0.00
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,None,0.3,9.05,2.0,1.0,0.00
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,None,0.3,22.80,2.0,1.0,0.00
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,None,0.3,6.80,2.0,1.0,0.00
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,None,0.3,13.56,1.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-10-08 15:45:56,2019-10-08 15:54:45,N,1.0,95,95,1.0,0.85,7.0,0.00,0.5,0.00,0.0,None,0.3,7.80,2.0,1.0,0.00
99996,2,2019-10-08 15:43:31,2019-10-08 15:50:11,N,1.0,74,41,1.0,0.53,6.0,0.00,0.5,0.00,0.0,None,0.3,6.80,2.0,1.0,0.00
99997,2,2019-10-08 15:57:26,2019-10-08 16:17:41,N,1.0,75,141,1.0,1.94,13.0,0.00,0.5,2.98,0.0,None,0.3,19.53,1.0,1.0,2.75
99998,2,2019-10-08 14:58:24,2019-10-08 15:03:40,N,1.0,33,33,1.0,0.89,6.0,0.00,0.5,1.36,0.0,None,0.3,8.16,1.0,1.0,0.00
99999,2,2019-10-08 15:10:20,2019-10-08 15:17:44,N,1.0,33,40,1.0,1.24,7.0,0.00,0.5,0.00,0.0,None,0.3,7.80,2.0,1.0,0.00

In [47]:
t_start = time()
count = 0
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df=batch.to_pandas()
    print(f' inserting batch {count}.....')
    b_start = time()

    batch_df.to_sql(name='ny_green_taxi_data', con = engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

 inserting batch 1.....
inserted! time taken     25.737 seconds.

 inserting batch 2.....
inserted! time taken     26.427 seconds.

 inserting batch 3.....
inserted! time taken     26.490 seconds.

 inserting batch 4.....
inserted! time taken     28.274 seconds.

 inserting batch 5.....
inserted! time taken     16.484 seconds.

Completed! Total time taken was    123.829 seconds for 5 batches.

In [32]:
from time import time
import pandas as pd 
import pyarrow.parquet as pq
from sqlalchemy import create_engine

In [89]:
df = pd.read_csv('taxi_zone_lookup.csv',nrows=265)
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                      NaN          NaN
264         265            NaN           Outside of NYC          NaN

[265 rows x 4 columns]

In [90]:
pd.io.sql.get_schema(df,name = 'taxi_zone_lookup')

'CREATE TABLE "taxi_zone_lookup" (\n"LocationID" INTEGER,\n  "Borough" TEXT,\n  "Zone" TEXT,\n  "service_zone" TEXT\n)'

In [74]:
import sqlalchemy

In [75]:
from sqlalchemy import create_engine

engine= create_engine('postgresql://root:root@localhost:5432/ny_green_taxi')
engine.connect()

In [91]:
print(pd.io.sql.get_schema(df, name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [92]:
df_iter = pd.read_csv('taxi_zone_lookup.csv',iterator=True, chunksize=265)
df_iter

In [93]:
df=next(df_iter)
len(df)

265

In [95]:
df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')

265

In [ ]:
while True: 
    t_start = time()

    df = next(df_iter)
    df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [ ]:
#Green taxi main data

In [103]:
df = pd.read_csv('green_tripdata_2019-10.csv',nrows=50000)

In [104]:
pd.io.sql.get_schema(df,name = 'green_taxi_data')

'CREATE TABLE "green_taxi_data" (\n"VendorID" INTEGER,\n  "lpep_pickup_datetime" TEXT,\n  "lpep_dropoff_datetime" TEXT,\n  "store_and_fwd_flag" TEXT,\n  "RatecodeID" INTEGER,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "passenger_count" INTEGER,\n  "trip_distance" REAL,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "ehail_fee" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "payment_type" INTEGER,\n  "trip_type" INTEGER,\n  "congestion_surcharge" REAL\n)'

In [106]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [109]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv',iterator=True, chunksize=50000)
df_iter

In [110]:
df=next(df_iter)
len(df)

50000